.vs/**
SARSearchPatternGenerator.sln
CoordinateDistanceTest/*
SARSearchPatternGenerator/*
PatternCommanderSetup/*
!CoordinateDistanceTest/src/
!SARSearchPatternGenerator/src/
!SARSearchPatternGenerator/Properties/
